<!DOCTYPE html>
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Material Admin</title>
    
        <!-- Vendor CSS -->
        <link href="../vendors/animate-css/animate.min.css" rel="stylesheet">
    
        <!-- CSS -->
        <link href="../css/app.min.css" rel="stylesheet">
    </head>
    
    <body ng-app="starter">
        <header id="header">
            <ul class="header-inner">
                <li id="menu-trigger" data-trigger="#sidebar">
                    <div class="line-wrap">
                        <div class="line top"></div>
                        <div class="line center"></div>
                        <div class="line bottom"></div>
                    </div>
                </li>
            
                <li class="logo hidden-xs">
                    <a href="../index.html">Material </a>
                </li>
                
                         
            <!-- Top Search Content -->
            <div id="top-search-wrap">
                <input type="text">
                <i id="top-search-close">&times;</i>
            </div>
        </header>
        
        <section id="main">
            <aside id="sidebar">
                <div class="sidebar-inner">
                    <div class="si-inner">
                        <div class="profile-menu">
                            <a >
                                <div class="profile-pic">
                                    <img src="img/avatar4.png" height="60" width="60" alt="">
                                </div>
                            </a>
                        </div>
                        
                        <ul class="main-menu">
                            <li class="">
                                <a href=""><i class="md md-filter-1"></i>Menu1</a>
                            </li>  
                            <li class="">
                                <a href=""><i class="md md-filter-2"></i>Menu2</a>
                            </li> 
                            <li class="">
                                <a href=""><i class="md md-filter-3"></i>Menu3</a>
                            </li> 
                            <li class="sub-menu">
                                <a href=""><i class="md md-filter-4"></i>Sub-Menu</a>
                                <ul>
                                    <li><a><i class="md md-filter-1"></i>Sub-menu 1</a></li>
                                    <li><a><i class="md md-filter-2"></i>Sub-menu 2</a></li>
                                    <li><a><i class="md md-filter-3"></i>Sub-menu 3</a></li>
                                    <li><a><i class="md md-filter-4"></i>Sub-menu 4</a></li>
                                </ul>
                            </li> 
                            <li class="">
                                <a href="flot-charts.html"><i class="md md-trending-up"></i>Charts</a>
                            </li> 

                        </ul>
                    </div>
                </div>
            </aside>
        
            <section id="content">
                <div class="container">
                    <div class="block-header">
                        <h2>Charts</h2>                   
                    
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header">
                                    <h2>Line Chart with curved</h2>                            
                                    
                                </div>
                            
                                <div class="card-body">
                                    <div class="chart-edge">
                                        <div id="curved-line-chart" class="flot-chart"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header">
                                    <h2>Lines Chart</h2>                                   
                                    
                                </div>
                                
                                <div class="card-body">
                                    <div class="chart-edge">
                                        <div id="line-chart" class="flot-chart"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header">
                                    <h2>Bar Chart</h2>
                                    
                                </div>
                                
                                <div class="card-body card-padding-sm">
                                    <div id="bar-chart" class="flot-chart"></div>
                                    <div class="flc-bar"></div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header">
                                    <h2>Dynamic Chart</h2>
                                    
                                </div>
                                
                                <div class="card-body card-padding-sm">
                                    <div id="dynamic-chart" class="flot-chart"></div>
                                    <div class="flc-dynamic"></div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header">
                                    <h2>Pie Chart</h2>
                                    
                                </div>
                                
                                <div class="card-body card-padding">
                                    <div id="pie-chart" class="flot-chart-pie"></div>
                                    <div class="flc-pie hidden-xs"></div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header">
                                    <h2>Donut Chart</h2>
                                    
                                </div>
                                
                                <div class="card-body card-padding">
                                    <div id="donut-chart" class="flot-chart-pie"></div>
                                    <div class="flc-donut hidden-xs"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>

        
        <script src="../js/jquery-2.1.1.min.js"></script>
        <script src="../js/bootstrap.min.js"></script>
        
        <script src="../vendors/flot/jquery.flot.min.js"></script>
        <script src="../vendors/flot/jquery.flot.resize.min.js"></script>
        <script src="../vendors/flot/jquery.flot.orderBar.js"></script>
        <script src="../vendors/flot/jquery.flot.pie.min.js"></script>
        <script src="../vendors/flot/jquery.flot.tooltip.js"></script>
        <script src="../vendors/flot/plugins/curvedLines.js"></script>
        <script src="../vendors/nicescroll/jquery.nicescroll.min.js"></script>
        <script src="../vendors/bootstrap-growl/bootstrap-growl.min.js"></script>
        <script src="../vendors/waves/waves.min.js"></script>
        <script src="../vendors/sweet-alert/sweet-alert.min.js"></script>
        
        <!-- Charts - Please read the read-me.txt inside the js folder-->
        <script src="../js/flot-charts/curved-line-chart.js"></script>
        <script src="../js/flot-charts/line-chart.js"></script>
        <script src="../js/flot-charts/bar-chart.js"></script>
        <script src="../js/flot-charts/dynamic-chart.js"></script>
        <script src="../js/flot-charts/pie-chart.js"></script>
        
        <script src="../js/functions.js"></script>
    </body>
</html>